<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" http-equiv="Cache-Control" content="no-cache">
    
    <link href="{{ site.asset_url }}/css/m.css" rel="stylesheet" type="text/css" />
    <link href="{{ site.asset_url }}/css/post.css" rel="stylesheet" type="text/css" />
    <link href="{{ site.asset_url }}/css/default.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/vs2015.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="{{ site.asset_url }}/js/m.js"></script>
    <script src="{{ site.asset_url }}/js/post.js"></script>
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    
</head>