<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    
    <link href="{{ site.baseurl }}/assets/css/m.css" rel="stylesheet" type="text/css" />
    <link href="{{ site.baseurl }}/assets/css/post.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/m.js"></script>
    <script src="{{ site.baseurl }}/assets/js/post.js"></script>
</head>

<div class="footer">
    <!-- <div>
        <a>
            <img class="menu_btn" src="{{ site.files}}/menu.png">
        </a>
    </div> -->
</div>