html{
  outline: none;
  font-family: sans-serif, Verdana, Geneva, Tahoma;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


body{
  margin: 0px;
}

body::-webkit-scrollbar{
  display: none;
}

nav::-webkit-scrollbar{
  display: none;
}

.p_nav ul li{
  margin: 0px;
  padding: 0px; 
  list-style-type: none;
}

h2{
  font-size: 30px;
  font-weight: 500;
}

h3{
  font-size: 22px;
  font-weight: 500;
}

h4{
  text-align:center;
}

table{
  font-size: 14px;
}

a, a:link, a:visited, a:active, a:hover {
  color: black;
  text-decoration: none;
}

.p_wrap{
  width:100%;
  height: 100%;
  position: relative;
}

.p_container .md_img{
  max-width: 100%;
  height: auto;
  margin: 20px auto 20px auto;
}

/* High light */
.highlighter-rouge{
  font-family: sans-serif, Verdana, Geneva, Tahoma;
  color: red;
  font-weight: bold;
}

code{
  font-family: sans-serif, Verdana, Geneva, Tahoma;
}

pre{
  border: 1px solid black;
  border-radius: 4px;
  font-size: 14px;
}