/* Navigateion */

.p_bg_black{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    z-index: 10;
    position: fixed;
    display: none;
}

.p_nav{
    top: 0px;
    width: 350px;
    height: 100%;
    position: fixed;
    background-color: white;
    right: -380px;
    z-index: 100;
    overflow-y: scroll;
}

.p_nav_btn{
    margin-top: 30px;
    width: 60px;
    height: 60px;
    right: 7%;
    position: absolute;
    cursor: pointer;
}

.p_nav_title{
    top: 80px;
    margin-left: 30px;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    vertical-align: center;
}

.nav_icon{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}


.p_nav_menu{
    position: absolute;
    margin-top: 150px;
    margin-left: 30px;
    height: 100%;

}

.p_nav_menu a{
    text-decoration: none;
    color: gray;
    cursor: pointer;
}

.nav_onedep{
    font-size: 25px;
    font-weight: normal;
    cursor: pointer;
    margin-bottom: 10px;
}

.nav_twodep{
    font-size: 22px;
    display: none;
    margin: 5px 0 10px 0px;
}

.nav_twodep li{
    margin-top: 7px;
}

.nav_twodep li a{
    color: gray;
}

/* Header */

.p_header{
    width: 100%;
    height: 60px;
    background-color: white;  
    position: fixed; 
    z-index: 5;
    box-shadow: 0px 0px 8px 1px black;
}

.p_header_btn{
    width: 60px;
    height: 60px;
    top: 11px;
    position: fixed;
    right:2%;
    cursor: pointer;
    z-index: 10;
}

.p_header_title {
    width:200px;
    height: 60px;
    margin: 9px auto;
    position: absolute;
    font-size: 30px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    cursor: pointer;    
}

.p_wrap hr{
    top: 80px;
    width: 1200px;
    position: absolute;
    left: 50%;
    margin-left: -600px;
    text-align: center;
    height:2px;
    background-color: black;
}

.p_header_txt{
    top:30px;
    right:20%;
    position: absolute;
    font-size: 50px;
    font-weight: bold;
}

/* Banner */

.p_sub{
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    background-size: 100%;
}

.p_sub .sub_img{
    max-height: inherit;
    z-index: 0;
    position: absolute;
}

.p_sub .sub_txt{
    margin: 190px auto;
    width: 100%;
    font-size: 100px;
    color: white;
    z-index: 1;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 0 0 15px black;
}

/* Inner */

.p_container_wrap{
    min-height: 500px;
    background-color: #ddd;
    position: relative;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 30px;
}

.p_container_title{
    max-width: 1200px;
    height: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.p_container{
    background-color: white;
    border-radius: 10px;
    max-width: 1200px;
    min-height: 500px;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px 30px 30px;
    font-size: 14px;
    line-height: 30px;
}

.p_lst{
    border-bottom: 1px solid gray;
    max-width: 1000px;
    min-height: 130px;
    margin: 0 auto 30px auto;
    position: relative;
}

.p_lst a:hover{
    color: black;
}

.p_lst_title{
    font-size: 27px;
}

.p_lst_txt{
    max-width:800px;
}

.p_lst_side{
    width: 150px;
    height: 100px;
    top: 20px;
    right: 0;
    position: absolute;
    text-align: center;
}

.p_lst_icon{
    margin-top: 15px;
}

/* Calender */
.cldr_year{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.cldr_month{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.cldr_opc{
    color:#383fe9;
}

.cldr_mg{
    color:#ff0000;
}

.cldr{
    min-width:900px;
    text-align: center;
    margin: auto auto 50px auto;
}

.cldr tr td{
    height: 50px;
}

@media (max-width:700px){
    #p_container ul{
        padding-left: 10px;
    }

    /* Header */
    .p_header{
        height: 45px;
    }
    
    .p_header_btn{
        width: 40px;
        height: 40px;
        top: 9px;
    }

    .p_header_title{
        font-size: 25px;
        margin-top: 7px;
    }

    .p_header_btn img{
        height: 30px;
    }

    /* Navigation */
    .p_nav{
        right: -410px;
    }

    .p_nav_menu .nav_icon{
        height: 30px;
    }

    .nav_onedep{
        font-size: 23px;
    }

    .nav_twodep{
        font-size: 18px;
    }

    /* Banner */
    .p_sub{
        height: 200px;
    }

    .p_sub .sub_txt{
        margin:90px auto;
        font-size: 40px;
    }

    /* Inner */
    .p_container_title{
        left: 20px;
    }

    .p_container{
        max-width: 700px;
        min-height: 500px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 20px 20px 20px;
    }
    
    .p_lst_title{
        font-size: 22px;
    }

    .p_lst_txt{
        font-size: 12px;
    }

    .p_lst_side{
        margin-left: 45%;
        height: 40px;
        position: static;
        font-size: 12px;
    }
    
    .p_lst_side img{
        height: 25px;
    }

    .p_lst_side p{
        display: inline-block;
        margin-top: 3px;
        position: absolute;
    }
    
    .p_lst_icon{
        margin-top: 7px;
        margin-right: 10px;
    }

    /* Calender */
    .cldr_year{
        font-size: 25px;
    }
    
    .cldr_month{
        font-size: 17px;
    }

    .cldr_opc{
        font-size: 12px;
    }
    
    .cldr_mg{
        font-size: 12px;
    }
    
    .cldr{
        min-width:300px;
        margin: auto auto 20px auto;
    }
    
    .cldr tr td{
        height: 50px;
    }
}