ul{
    margin: 0px;
    padding: 0px;   
}

.p_wrap{
    width:100%;
    height: 100%;
    position: relative;
    font-family: sans-serif, Verdana, Geneva, Tahoma;
}

.p_wrap .highlighter-rouge{
    font-family: sans-serif, Verdana, Geneva, Tahoma;
}

.p_container .md_img{
    max-width: 100%;
    height: auto;
}

/* Navigateion */

.p_bg_black{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    z-index: 10;
    position: fixed;
    display: none;
}

.p_nav{
    top: 0px;
    width: 350px;
    height: 100%;
    position: fixed;
    background-color: white;
    right: -350px;
    z-index: 100;
    padding: 30px 30px 30px 30px;
}

.p_nav_btn{
    width: 60px;
    height: 60px;
    right: 7%;
    position: absolute;
    cursor: pointer;
}

.p_nav_title{
    top: 80px;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
}

.nav_icon{
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}


.p_nav_menu{
    position: absolute;
    margin-top: 130px;
    height: 100%;

}

.p_nav_menu a{
    text-decoration: none;
    color: gray;
    cursor: pointer;
}

.p_nav_menu a:hover{
    text-decoration: none;
    color: gray;
}

.nav_onedep{
    font-size: 30px;
    font-weight: normal;
    cursor: pointer;
}

.nav_twodep{
    font-size: 22px;
    display: none;
    margin-left: 60px;
}

/* .p_nav_menu{
    position: absolute;
    margin-top: 130px;
    height: 100%;
    width: 280px;
}

.p_nav_menu dl{
    margin-bottom: 0px;
    cursor: pointer;
}

.p_nav_menu dt{
    font-size: 30px;
    font-weight: normal;
}

.p_nav_menu dd{
    font-size: 22px;
    color: gray;
    display: none;
    margin-left: 10px;
} */

/* Header */

.p_header{
    width: 100%;
    height: 60px;
    background-color: white;    
}

.p_header_btn{
    width: 60px;
    height: 60px;
    top: 13px;
    position: fixed;
    right:2%;
    cursor: pointer;
    z-index: 10;
}

.p_header_title {
    width:200px;
    height: 60px;
    margin: 0 auto;
    position: absolute;
    font-size: 40px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}

.p_wrap hr{
    top: 80px;
    width: 1200px;
    position: absolute;
    left: 50%;
    margin-left: -600px;
    text-align: center;
    height:2px;
    background-color: black;
}

.p_header_txt{
    top:30px;
    right:20%;
    position: absolute;
    font-size: 50px;
    font-weight: bold;
}

/* Banner */

.p_sub{
    top: 60px;
    width: 100%;
    height: 350px;
    position: absolute;
    overflow: hidden;
}

.p_sub .sub_img{
    max-height: inherit;
    z-index: 0;
    position: absolute;
}

.p_sub .sub_txt{
    margin:20px auto;
    font-size: 200px;
    color: white;
    z-index: 1;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

/* Inner */

.p_container_wrap{
    top : 350px;
    min-height: 500px;
    background-color: #ddd;
    position: relative;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
}

.p_container_title{
    max-width: 1200px;
    height: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.p_container{
    max-width: 1200px;
    min-height: 500px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px 30px 30px;
    font-size: 14px;
    line-height: 30px;
}

.p_container h2{
    margin: 60px 0 30px 0;
    font-size: 28px;
}

.p_container .md_img{
    margin-bottom: 30px;
}

.p_container_lst{
    border: 2px solid #ddd;
    width: 550px;
    height: 150px;
    display: inline-block;
    text-align: center;
    font-size: 50px;
    position: relative;
    padding-top: 30px;
    cursor: pointer;
    margin: 0 12px;
}

.p_container_lst:hover{
    border: 2px solid black;
}

@media (max-width:700px){
    .p_sub{
        top: 60px;
        height: 200px;
    }

    .p_sub .sub_txt{
        margin:60px auto;
        font-size: 50px;
    }

    .p_container_wrap{
        top: 200px;
    }

    .p_container_title{
        left: 20px;
    }

    .p_container{
        max-width: 700px;
        min-height: 500px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 20px 20px 20px;
    }

    .p_container_lst{
        max-width: 300px;
        max-height: 80px;
        font-size: 20px;
        left: 50%;
        margin-left: -150px;
        margin-bottom: 20px;
        display: list-item;
        padding-top: 25px;
    }
}