<html>
    {% include head.html %}

    <body>
        <div class="banner">
            <a onclick="openMenu();">
                <img id="btn_menu" class="menu_btn" src="{{ site.files}}/menu.png" height="50">
            </a>
            <img src="{{ site.files }}/banner.jpg">
            <span>Guide Blog</span>

            <div id="menu_box" class="panel panel-default menu" style="display:none;">
                {% for item in site.data.menu.list %}
                <div class="panel-body panel_b" onclick="goMenu('{{ item.link }}')">
                    {{ item.title }}
                </div>
                {% endfor %}
            </div>
        </div>

        {{ content }}
    </body>
</html
