<html>
    {% include head.html %}
    <body>
        {% include navigation.html %}

        <div id="bg_black" class="bg_black"></div>
        
        <div id="p_wrap" class="wrap">
            <div class="head_btn">
                <a onclick="openNav();">
                    <img src="{{ site.files }}/menu.png" height="40">
                </a>
            </div>

            {% if page.title == "Blog" %}
            <div id="banner" class="ban">
                <div class="ban_srch">
                    <span class="ban_txt">CATEGORY</span>
                </div>
                <div id="ban_catg" class="ban_catg">
                    <ul>
                        <li class="on" data-value="">All</li>
                        <li data-value="csharp">C#</li>
                        <li data-value="java">JAVA</li>
                        <li data-value="spring">Spring</li>
                        <li data-value="db">Database</li>
                        <li data-value="web">Web</li>
                        <li data-value="javascript">Javascript</li>
                        <li data-value="git">Git</li>
                    </ul>
                </div>
            </div>
            {% endif %}
            
            <div class="container">
                {% if page.title == "Blog" %}
                    {% assign ex_cont = "lst" %}
                {% else %}
                    {% assign ex_cont = "inr" %}
                    <div class="container_title">
                        <span>{{ page.title }}</span>
                    </div>
                {% endif %}

                <div id="p_container" class="container_{{ ex_cont }}">
                    {% if page.title == "Blog" %}
                        {% for post in site.posts %}
                        {% if post.expose_yn == null %}
                          <article class="p_lst" data-value="{{ post.icon }}">
                            <a href="{{ post.url }}">
                                <p class="p_lst_title">{{ post.title }}</p>
                                <div class="p_lst_txt">
                                    <span>{{ post.excerpt | strip_html | truncatewords: 40 }}</span>
                                </div>

                                <div class="p_lst_side">
                                    <div class="p_lst_icon">
                                        <img class="img" src="/files/nav/{{ post.icon }}.png" height="35" />
                                    </div>
                                    <div class="p_lst_day">
                                        <p>{{ post.date |  date: '%Y-%m-%d' }}</p>
                                    </div>
                                </div>
                            </a>
                          </article>
                          {% endif %}  
                        {% endfor %}
                    {% else %}
                        {{ content }}
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>