<html>
    {% include head.html %}

    <body>
        <nav id="p_nav" class="p_nav">
            <div class="p_nav_btn">
                <a onclick="closeNav();">
                    <img src="{{ site.files }}/nav/right.png" height="60">
                </a>
            </div>
            <div class="p_nav_title">
                <img class="nav_icon" src="{{ site.files }}/nav/navigation.png" height="35">
                <span>Navigation</span>
            </div>
            <div id="p_nav_menu" class="p_nav_menu">
                {% for item in site.data.menu.list %}
                <ul>
                    {% if item.title != "Profile" %}
                    <li data-navdep="1" class="nav_onedep">
                        <img class="nav_icon" src={{item.icon}} height="27">
                        {% if item.title == "Main" %}
                        <a href="/" style="color: black;">{{ item.title }}</a>
                        {% else %}
                        {{ item.title }}
                        {% endif %}
                    </li>
                    {% endif %}

                    {% if item.sub_yn == "Y" %}
                    <ul data-navdep="2" class="nav_twodep">
                        {% for sub in item.sub %}
                        <li><a href={{sub.s_link}}>- {{ sub.s_title }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </ul>
                {% endfor %}
            </div>
        </nav>
        <div id="p_bg_black" class="p_bg_black"></div>
        <div id="p_wrap" class="p_wrap">
            <header id="p_header" class="p_header">
                <div class="p_header_title">
                    <a href="/" onclick="window.scrollTo(0,0);">
                        <span>Tech</span>
                    </a>
                </div>
                <div class="p_header_btn">
                    <a onclick="openNav();">
                        <img src="{{ site.files }}/menu.png" height="40">
                    </a>
                </div>
            </header>

            {% if page.title == "Main" %}
            <div id="banner" class="p_sub" style="background-image: url('/files/ban/{{ page.icon }}.jpg')">
                <div class="sub_txt">Guide</div>
            </div>
            {% endif %}
            
            <div class="p_container_wrap">
                <div id="cont_title" class="p_container_title">
                    {{ page.postname }} Posting
                </div>
                <div id="p_container" class="p_container">
                    {% if page.title == "Main" %}
                        {% for post in site.posts %}
                        {% if post.expose_yn == null %}
                          <article class="p_lst">
                            <a href="{{ post.url }}">
                                <p class="p_lst_title">{{ post.postname }}</p>
                                <p class="p_lst_txt">{{ post.excerpt | strip_html | truncatewords: 40 }}</p>

                                <div class="p_lst_side">
                                    <img class="p_lst_icon" src="/files/nav/{{ post.icon }}.png" height="50" />
                                    <p>{{ post.date |  date: '%Y-%m-%d' }}</p>
                                </div>
                            </a>
                          </article>
                          {% endif %}  
                        {% endfor %}
                    {% else %}
                        {{ content }}
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>